<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.OrdersMapper">


    <resultMap id="findOrdersUserLazyLoadingResultMap" type="com.test.bean.Orders">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="note" column="note"/>
        <result property="createTime" column="createtime"/>
        <result property="userId" column="user_id"/>
        
        <association property="user" select="findUserById" column="user_id"/>

    </resultMap>
    
    <select id="findOrdersUserLazyLoading" resultMap="findOrdersUserLazyLoadingResultMap">
      SELECT * FROM orders
    </select>

    <select id="findUserById" parameterType="int" resultType="com.test.bean.User">
        SELECT * FROM user WHERE id = #{id}
    </select>
</mapper>