<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--注意原理：
namespace：mapper接口的全限定名
statement的id：mapper接口方法名
parameterType：mapper接口方法参数类型
resultType：mapper接口的返回值类型
-->
<mapper namespace="com.test.dao.UserMapper">
    <select id="findUserById" parameterType="int" resultType="user">
            SELECT * FROM USER WHERE id=#{id};
    </select>

    <select id="findUserByName" parameterType="user" resultType="user">
        SELECT * FROM USER WHERE username=#{username};
    </select>
</mapper>
